<p-dialog header="Edit Profile" [modal]="false" [(visible)]="visible" (onHide)="onHide()" [style]="{ width: '25rem' }">
  <ng-template #headless>

    <div class="flex flex-col items-center px-8 py-8 rounded-2xl"
         style="border-radius: 12px; background-image: radial-gradient(circle at left top, #e2e8f0, dimgrey)">

      <div class="inline-flex flex-col w-full gap-2">
        <p-select autofocus id="type" [options]="vehicleTypes" [(ngModel)]="vehicleType" (onChange)="selectType()" placeholder="Select a Type"/>
      </div>
    </div>
  </ng-template>
</p-dialog>
